.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.container>* {
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fafafa;
}

header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header>h1 {
    font-size: 28pt;
    margin: 0;
}

#header-line {
    border-style: solid;
    color: black;
    width: 100%;

    margin-bottom: 0;
}

nav {
    grid-area: nav;
}

.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    list-style: none;

    padding-left: 0;
    margin-top: 0;
}

.menu>li>a {
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

.menu li a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

#nav-line {
    border-style: solid;
    color: black;
    width: 100%;
    margin: 0;
}

main {
    grid-area: main;
}

#link-main {
    color: rgb(0, 95, 225);
    text-decoration: none;
}

#I {
    margin-top: 0;
}

.progress-container {
    height: 37px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #e0e0e0;
    border-radius: 5px;

    margin-bottom: 10px;
}

.progress-label {
    position: absolute;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
}

.progress-percentage {
    font-family: 'Arial', sans-serif;
    margin-right: 10px;
}

#Skill1 {
    height: 100%;
    width: 75%;
    background-color: #53c0ff;
    border-radius: 5px;
}

#Skill2 {
    height: 100%;
    width: 95%;
    background-color: #41d67f;
    border-radius: 5px;
}

#Skill3 {
    height: 100%;
    width: 35%;
    background-color: #fb6858;
    border-radius: 5px;
}

#project-cards {
    display: grid;
    grid-template-columns: 1fr;

    gap: 5px;
}

.project-container {
    height: 440px;

    text-align: center;

    background-color: #e0e0e0;
    border-radius: 5px;

    margin-bottom: 10px;
}

.project-heading {
    display: block;

    padding: 2%;
    height: 35px;

    text-decoration: none;
    color: black;
}

.project-container>p {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#project-text>p {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.read-more {
    color: rgb(0, 95, 225);
    text-decoration-style: dashed;
}

.ima {
    width: 100%;
    height: 50%;
    border-radius: 5px;

    margin-top: 0px;

    /*Clear next 4 rows having putting images*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}

footer {
    grid-area: footer;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: lightgray;
}

footer>p {
    display: none;
    margin-top: 0;
}

.footer-links {
    text-decoration: none;
    color: rgb(0, 95, 225);
    font-family: 'Arial', sans-serif;
}

@media (min-width: 400px) {
    .font-settings {
        font-size: 14pt;
    }

    header>h1 {
        font-size: 32pt;
    }

    .menu li a {
        font-size: 13pt;
    }

    .menu li a:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    .progress-label {
        font-size: 14pt;
    }

    .progress-percentage {
        font-size: 14pt;
    }

    .read-more {
        font-size: 14pt;
    }

    .footer-links {
        font-size: 13pt;
    }
}

@media (min-width: 600px) {
    header>h1 {
        font-size: 36pt;
    }

    .menu>li>a {
        font-size: 16pt;
    }

    #project-cards {
        grid-template-columns: 1fr 1fr;
    }

    #pro3 {
        grid-column: 1 / 3;
        /*line 1 bis line 3*/

        height: 220px;

        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    #project-text {
        order: 1;
        width: 50%;
    }

    #ima3 {
        order: 2;
        height: 100%;
        width: 49.6%;
        /*sonst ist das bild größer, als die Karte oben*/
    }

    #project-text>p {
        margin-top: 4px;
    }

    #lin3 {
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .project-container>p {
        margin-bottom: 8px;
    }

    #project-text>p {
        margin-bottom: 8px;
    }

    #Contact>p {
        display: block;
    }

    .footer-links {
        font-size: 14pt;
    }
}

@media (min-width: 800px) {
    .container {
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }

    .container>* {
        padding: 20px;
    }

    header>h1 {
        font-size: 42pt;
    }

    #sticky-menu {
        position: sticky;
        top: 20px;
    }

    #nav-line {
        display: none;
    }

    .burger {
        display: inline;
    }

    .menu {
        list-style: none;
        display: none;
        margin-top: 4px;
        margin-bottom: 0;
    }

    .menu li {
        margin-bottom: 14px;
    }

    .burger:active+.menu,
    .burger:hover+.menu,
    .menu:hover {
        display: block;
    }

    #lin3 {
        margin-top: 4px;
        height: 35px;
    }

    .project-container>p {
        margin-bottom: 14px;
    }

    #project-text>p {
        margin-top: 8px;
        margin-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 7fr;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        max-width: 1200px;
        margin: auto;
    }

    #sticky-menu {
        top: 30px;
    }

    .burger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        list-style: none;
        margin-top: 4px;
        margin-bottom: 0;
    }

    #project-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #pro3 {
        grid-column: span 1;
        /*besetze 1 Fragment*/

        display: block;

        height: 440px;
    }

    #ima3 {
        width: 100%;
        height: 50%;
    }

    #lin3 {
        margin-top: 0;
    }

    #project-text {
        width: 100%;
    }

    #project-text>p {
        margin-top: 8px;
    }

    #problem {
        margin-top: 0;

        width: 100%;
        height: 35px;
    }
}